#home_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    h1 {

        font-size: 5.2rem;
        line-height: 1.28;
        text-align: center;
        margin: 0;
    }

    h2 {

        }

}
