<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://neutralpress.mypinata.cloud https://cloud.typography.com 'unsafe-inline'; img-src 'self' data: https://neutralpress.mypinata.cloud; font-src 'self' https://cloud.typography.com data:">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Ethics Initiative</title>

    <meta name="description" content="{{#if description}}{{description}}{{else}}Blockchain Ethics Initiative: Gathering Practical Knowledge for Better Policy{{/if}}">
    <meta name="author" content="{{author}}">
    <meta name="publication" content="{{publication}}">

    <style id="custom-css"></style>
    <script>
            fetch("insert_stylesheet.css").then(response => response.text()).then(css => {document.getElementById("custom-css").textContent = css;});
    </script>

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/7158032/css/fonts.css" />
    <link id="main" rel="stylesheet" href="https://neutralpress.mypinata.cloud/ipfs/bafkreichrzp2stcomqse32eyew2tapeyegmq3tt6ipxdwmwcnknntktfvq?filename=styles.css">
</head>
