<nav id="main">
    <ul>
        {{#if (eq language "nl")}}
            <li><a href="/">Home</a></li>
            <li><a href="/standpunten">Standpunten</a></li>
        {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/positions">Positions</a></li>
        {{/if}}
    </ul>
</nav>
