<nav id="main">
    <ul>
        {{ifCond language "===" "nl"}}
            <li><a href="/">Home</a></li>
            <li><a href="/standpunten">Standpunten</a></li>
        {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/positions">Positions</a></li>
        {{/ifCond}}
    </ul>
</nav>
