<nav id="main">
    <ul>
        {{#if (eq language "nl")}}
            <li><a href="./index.html">Home</a></li>
            <li><a href="./ethische-standpunten">Standpunten</a></li>
        {{else}}
            <li><a href="./en/">Home</a></li>
            <li><a href="./en/ethical-positions">Ethical positions</a></li>
        {{/if}}
    </ul>
</nav>
