@use 'colours';
@use 'breakpoints';

@mixin bodyText {

    font-family: "Hoefler Text A", "Hoefler Text B";
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    font-size: 1.125rem;
    color: var(--black);
}

@mixin uppercase {

}

body {
    @include bodyText;
}


h1 {

    font-family: "Hoefler Titling A", "Hoefler Titling B";
    font-style: italic;
    font-weight: 700;
    max-width: 600px;

}


h2 {

    font-family: "Gotham A", "Gotham B";
    font-style: normal;
    font-weight: 800;


}

h3 {

    font-family: "Gotham A", "Gotham B";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.33;
    font-style: italic;
    margin: 2.5rem 0 0.75rem 0;

}

h4 {

    font-family: "Gotham A", "Gotham B";
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}
a {
    color:  var(--black);
    text-decoration: none;
    border-bottom: 1px solid var(--black);
}

p {
    margin-top: 0;
    margin-bottom: 1.55rem;
}

em {
    font-style: italic;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 2rem 0;
    display: block;

    @media (min-width: breakpoints.$breakpoint-medium) {
        margin-left: -6rem;
    }
}
