<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>
    {{> header}}
    <main>

        <section id="home_head" class="small_container">
            <h1>{{title}}</h1>
            <h2>{{custom.tagline}}</h2>
        </section>

        <section class="small_container">
            {{{content}}}
        </section>

    </main>
</body>
</html>
